!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SiTryout
    = stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,700,300', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'index', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #car-slides
      #car-slide1.slide.active
      #car-slide2.slide
    #wrapper
      #aperture
      #header
        #logo
          = link_to root_url do
            = image_tag 'logo.png'
        %ul#header-menu
          %li= link_to 'Aktuelle Buchung', current_booking_url
          %li= link_to 'FAQ / Hilfe', '#'
      #new-booking
        %h1 Nutze die Brückentage mit Carmunio.
        = form_for :booking, url: url_for(controller: 'cars', action: 'index') do |f|
          = f.select :pickup_location do
            = options_for_select Booking::LOCATIONS.invert.to_a
          = f.select :return_location do
            = options_for_select Booking::LOCATIONS.invert.to_a
          = f.text_field :pickup_datetime, placeholder: 'Zeit der Abholung', class: "datetime"
          = f.text_field :return_datetime, placeholder: 'Zeir der Rückgabe', class: "datetime"
          = f.submit "Zur Fahrzeugwahl"
  :javascript
    new Window.NewBooking();
