@import 'global';
/* Index */
#cars-list {
  width: 1100px;
  position: relative;
  margin: 20px auto;
}
.car-item {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  h2 {
    font-size: 2em;
  }
}
.car-information { 
  display: inline;
  float: left;
  font-size: .95em; 
  margin-right: 60px;
}

.car-price { font-size: 1.05em; }
.car-parameters {
  margin-top: 15px;
  text-align: center;
  .icon {
    color: $tryoutLightBlue;
    display: inline-block;
    background: transparent no-repeat center left;
    padding: 10px 0;
    padding-left: 30px;
    margin-left: 10px;
    &:first-child { margin-left: 0; }
    &.people { background-image: asset-url('persons.png') }
    &.luggage { background-image: asset-url('bag.png') }
    &.doors { background-image: asset-url('door.png') }
  }
}
.car-additional {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  .icon.info {
    background: transparent asset-url('info.png') no-repeat center;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-left: 5px;
  }
  li {
    margin: 0;
  }
}

.car-book-button {
  display: block;
  margin-top: 30px;
  padding: 10px 30px;
  background: $tryoutBlue;
  color: #fff;
  font-size: .8em;
  text-decoration: none;
  .header { font-weight: bold; }
}

.car-photo {
  display: inline;
  float: right;
  position: relative;
  a { 
    position: absolute; 
    z-index: 10;
    top: 0;
    right: 0;
  }
}
/* End of Index */

/* Show */
#car-details {
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
  img {
    width: 100%;
  }
  h1 { 
    font-size: 1.8em; 
    font-weight: 500;
    margin: 10px 0;
  }
  a {
    position: absolute;
    top: 50px;
    right: 0;
  }
}
/* End of Show */

#steps {
  list-style: none;
  display: block;
  padding: 0;
  text-align: center;
  li {
    margin: 0;
    display: inline-block;
    background: transparent no-repeat top center;
    padding-top: 20px;
    color: $tryoutLightBlue;
    &.active { color: $tryoutBlue; }
    &.first {
      background-image: asset-url('number1_disabled.png');
      &.active { background-image: asset-url('number1.png'); }
    }
    &.second {
      background-image: asset-url('number2_disabled.png');
      &.active { background-image: asset-url('number2.png'); }
    }
    &.connector {
      border-bottom: 1px solid $tryoutLightBlue;
      width: 25px;
      position: relative;
      bottom: 6px;
      margin: 0 10px;
    }
  }
}
