@import 'global';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  color: $tryoutDarkGrey;
}

#new-booking {
  text-align: center;
}

h1 { font-size: 3em; text-shadow: 0 0 5px rgba(255,255,255,.3); }

#new-booking h1 {
  position: absolute;
  top: -200px;
  width: 100%;
}

#wrapper {
  position: relative;
  height: 100%;
}

#new-booking {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-30%) translateX(-50%);
  -webkit-transform: translateY(-30%) translateX(-50%);
  width: 100%;
}

#header {
  height: 60px;
  padding: 30px;
  position: relative;
  z-index: 10;
}

#aperture {
  position: absolute;
  top: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(255,255,255,.5), transparent);
}

#logo {
  display: inline;
  float: left;
}

ul#header-menu {
  float: right;
  display: inline;
  list-style: none;
  position: relative;
  bottom: 15px;
  li {
    display: inline;
    margin-left: 15px;
    font-size: .8em;
  }
  a {
    text-decoration: none;
    color: $tryoutBlue;
  }
}

$formInputHeight: 50px;
$formInputPadding: 5px 15px;
form {
  input, button, select {
    height: $formInputHeight;
    border: none;
    padding: $formInputPadding;
    box-sizing: border-box;
    text-align: center;
  }

  button, input[type=submit] { 
    background-color: $tryoutBlue; 
    color: #fff;
    font-weight: bold;
  }
  select {
    -webkit-appearance: menulist-button;
  }

  $placeholderColor: $tryoutLightGrey;
  $placeholderSize: 12px;
  input {
    &::-webkit-input-placeholder { color: $placeholderColor; font-size: $placeholderSize; }
    &::-moz-placeholder { color: $placeholderColor; font-size: $placeholderSize; } /* firefox 19+ */
    &:-ms-input-placeholder { color: $placeholderColor; font-size: $placeholderSize; } /* ie */
    &:-moz-placeholder { color: $placeholderColor; font-size: $placeholderSize; } 
  }
}

/* Datetime picker */
.ui-datepicker {
  background: $tryoutLightGrey; 
  padding: 10px;
}

#ui-datepicker-div { z-index: 10 !important; }

.ui-datepicker-calendar {
  td { 
    text-align: center;
    padding: 2px 10px;
    font-size: .9em;
    a {
      color: $tryoutBlue;
      text-decoration: none;
    }
  }
}

.ui-datepicker-calendar thead, .ui-datepicker-year { display: none; }

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline;
  width: 0;
  height: 0;
  border-style: solid;
}

$triangleWidth: 6px;
$triangleHeight: 8px;
.ui-datepicker-next {
  border-width: $triangleHeight 0 $triangleHeight $triangleWidth;
  border-color: transparent transparent transparent $tryoutBlue;
}
.ui-datepicker-prev {
  border-width: $triangleHeight $triangleWidth $triangleHeight 0;
  border-color: transparent $tryoutBlue transparent transparent;
}


.ui-datepicker-prev { float: left; }
.ui-datepicker-next { float: right; }

.ui-datepicker-title { 
  font-size: .95em;
  text-align: center;
  margin-bottom: 15px;
  .ui-datepicker-month {
    padding: 3px 10px;
    background: $tryoutBlue;
    color: #fff !important;
  }
}

.ui-datepicker-current-day {
  a { color: #fff !important; }
  background-color: $tryoutBlue;
}

.ui-datepicker-unselectable { color: $tryoutLightBlue; }
/* End of datetime picker */

/* Zelect */
.zelect {
  background: white;
  box-sizing: border-box;
  height: $formInputHeight;
  padding: $formInputPadding;
  width: 200px;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  .dropdown {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }
  .zearch-container { display: none !important; }
  .zelected, .placeholder {
    padding-top: 11px;
    font-size: 12px;
  }
  .placeholder { color: $tryoutLightGrey; }

  ol {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    li {
      position: relative;
      font-size: 12px;
      cursor: pointer;
      margin: 0;
      padding: 10px 0;
      text-indent: 0;
      background: $tryoutLightGrey;
      width: 100%;
      color: $tryoutBlue;
      &.current, &:hover {
        color: #fff;
        background: $tryoutBlue;
      }
    }
  }
}
/* End of zelect */

/* Map popover */
.map-popover {
  position: absolute;
  left: 180px;
  bottom: 20px;
  padding: 3px;
  border: 1px solid $tryoutLightGrey;
  background: #fff;
  z-index: 10;
  width: 200px;
  height: 200px;
}
/* End of map popover */

/* Slides */
#car-slides {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
}

#car-slide1, #car-slide2 {
  background: transparent no-repeat bottom;
  background-size: cover;
  position: absolute;
  z-index: 0;
  bottom: 0; top: 0; right: 0; left: 0;
  width: 100%; height: 100%;
}

#car-slide1 {
  background-image: asset-url('index-background1.jpg');
}
#car-slide2 {
  background-image: asset-url('index-background2.jpg');
  left: 100%;
}
/* End of slides */
