@import 'global'; 

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  color: $tryoutDarkGrey;
}

/* Header */
#header {
  height: 60px;
  padding: 10px;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid $tryoutDarkGrey;
}

#logo {
  padding: 10px;
  display: inline;
  float: left;
}

#booking-info {
  display: inline;
  float: left;
  margin-left: 40px;
  .info, .connector { float: left; display: inline; }
  .info {
    font-size: 10pt;
    text-align: left;
    .title { font-size: 1em; }
    .time { font-size: 1.3em; font-weight: bold; }
    .location { font-size: 1.1em; }
    .price { font-size: 1.5em; font-weight: bold; margin-left: 40px; }
  }
  .connector {
    font-size: 30pt;
    padding: 0 60px;
  }
  .border {
    display: inline;
    float: left;
    border-left: 1px solid $tryoutDarkGrey;
    height: 25px;
    margin: 17.5px 0 17.5px 40px;
    &:first-child { margin-right: 40px; margin-left: 0; }
  }
}

#booking-additional {
  display: inline;
  float: right;
  list-style: none;
  margin: 0;
  font-size: .9em;
}
/* End of header */ 


/* User interface */
.triangle-button {
  background: transparent asset-url('triangle-button.png') center left no-repeat;
  height: 45px;
  padding: 13px;
  padding-left: 60px;
  width: 280px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 11pt;
}

.notification {
  position: absolute;
  top: 25px;
  background: white;
  padding: 5px;
  border: 1px solid #222;
  left: 50%;
  width: 300px;
  margin-lefT: -150px;
  text-align: center;
}
/* End of User inteface */

/* Utilities */
.clearer  {
  clear: both;
}
/* End of Utilities */
