%ul#steps
  %li.first.active Fahrzeugwahl
  %li.connector
  %li.second Extras
#cars-list
  - @cars.each do |car|
    .car-item
      .car-information
        %h2= car.name
        3 Tage Wien für
        .car-price
          = "#{car.price} €"
        .car-parameters
          .icon.people= "&times;#{car.people_number}".html_safe
          .icon.luggage= "&times;#{car.luggage_number}".html_safe
          .icon.doors= "&times;#{car.doors_number}".html_safe
        %ul.car-additional
          %li 
            Versicherung inklusiv
            .icon.info
          %li 
            Klare Tankreglung inklusiv
            .icon.info
          %li 
            Unbegrentze Kilometer inklusiv
            .icon.info

        = link_to bookings_url(car_id: car.id.to_s), method: :post, class: 'car-book-button' do
          .header
            Fahrzeug wählen
          .subheader
            = "Garantiert ein #{car.name}"
        
      .car-photo
        = image_tag car.photo.url(:medium)
        = link_to "Gerantiert ein #{car.name}", bookings_url(car_id: car.id.to_s), method: :post, class: 'triangle-button'

      .clearer
