%ul#steps
  %li.first Fahrzeugwahl
  %li.connector
  %li.second.active Extras
#car-details
  = image_tag @car.photo.url
  = link_to "Gerantiert ein #{@car.name}", bookings_url, class: 'triangle-button', method: :post
  %h1= @car.name
  3 Tage Wien für
  .price= "#{@car.price} €"
