!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SiTryout
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,700,300', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #header
      #logo
        = link_to root_url do
          = image_tag 'logo.png'
      - if @booking.present?
        #booking-info
          .border
          .info
            .title
              Abholung
            .time
              = l(@booking.pickup_datetime)
            .location
              = @booking.pickup_location_name
          .connector →
          .info
            .title
              Rückgabe
            .time
              = l(@booking.return_datetime)
            .location
              = @booking.return_location_name
          .border
            - if @booking.total_price.present?
              .info
                .price= "#{@booking.total_price} €"
          .clearer
        %ul#booking-additional
          %li Versicherung inklusiv
          %li Klare Tankreglung inklusiv
          %li Unbegrentze Kilometer inklusiv
        
        - if flash[:success].present?
          .notification= flash[:success]

    = yield
